%h2.page-header
  Payment Info
  %small
    Vendor Registration Wizard 3 of 3

%p
  We are using Stripe&trade; to make payments to you. And other info goes here.
%p.text-center
  = connect_vendor_with_stripe_button(@vendor)
