%h2.page-title
  Settings

.row
  .col-md-12
    .card
      .card-body
    
- content_for(:extra_javascript) do
  :javascript
    (function(global) {
      'use strict';

      $(function() {

      });
      
    })(window);
